[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.7"
pillow = "==9.4.0"
django-tinymce = "==3.5.0"
django-summernote = "==0.8.20.0"
django-editorjs = "==0.2.1"

[dev-packages]

[requires]
python_version = "3.10"
